@import "normalize.styl"
@import "owl.carousel.styl"
@import "owl.theme.styl"
azulPrincipal = #1E4354
azulSemiClaro = #0C72A3
azulClaro  = #D1F3FD
html
body
	height 100%
.ContenedorImagen
	top 0
	z-index -1
	background-size: 100% 100%;
	width: 100%;
	height 100%
	&-img
		background-repeat: no-repeat;
		background-size: 100% 100%;
		width: 100%;
		height 100%
.ContenedorPrincipal
	position relative
	width 100%
	text-align: center;
	height auto
	overflow hidden
	height 100%
	&-logo
		position absolute
		margin 0
		padding 0
		z-index 1
		top 0
		right 0
		&Img
			display inline-block
			width 150px
	&-menu
		position fixed
		text-align center
		display inline-block
		right 0
		padding 0
		background #fff
		width 100%
		height 100%
		transition  all 1s ease-in-out
		top 0
		display none
		z-index 1
		&Ul
			padding 0
			margin 0
			list-style none
			text-align center
			top 30%
			position relative
		&Item
			margin 0
			border-left 0.8em solid azulPrincipal
			a
				text-decoration none
				cursor pointer
				color azulPrincipal
				text-transform: uppercase
				padding 1em 0
				display inherit
	&-banner
		width 100%
		position absolute
		left 0
		bottom 0
		z-index 1
	&-bannerlema
		img
			border: 0;
			width: 100%;
			max-width 500px	
	&-bannerLinea
		width 100%
		height .5em
		background-color azulSemiClaro
		position absolute
		top 55%
		z-index -1
	.menu-movil
		display inline-block
		position absolute
		color azulPrincipal
		padding 1em 0 0 1em
		cursor pointer
		transition all 0.5s ease-in-out
		top 0
		left 0
		.col
			height 3px
			width 26px
			margin-bottom 7px
			background-color azulPrincipal
			display block
.SliderPrincipal
	width: 1170px;
	height 400px
	background-color #D1F3FD
	.owl-carousel
		width 100%
		.item
			width: 1170px;
    		
		
			
			
			
		
